<?xml version="1.0" encoding="UTF-8"?>
<configuration scan="true" scanPeriod="60 seconds" debug="true">

	<property name="APP_NAME" value="lechuu-swing" />
	<property name="LOG_HOME" value="${LECHUU_CONFIG}/logs/lechuu-swing" />
	<contextName>${APP_NAME}</contextName>

	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{50} - %msg%n
			</pattern>
		</layout>
	</appender>
	<appender name="FILE"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${APP_NAME}.%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<MaxHistory>31</MaxHistory>
			<!-- 按时间回滚的同时，按文件大小来回滚 -->
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{50} - %msg%n
			</Pattern>
		</layout>
	</appender>
	<appender name="SMS_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${APP_NAME}-sms.%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<MaxHistory>31</MaxHistory>
			<!-- 按时间回滚的同时，按文件大小来回滚 -->
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{50} - %msg%n
			</Pattern>
		</layout>
	</appender>
	<appender name="PUSH_APPENDER"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<Encoding>UTF-8</Encoding>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${LOG_HOME}/${APP_NAME}-push.%d{yyyy-MM-dd}.%i.log
			</FileNamePattern>
			<MaxHistory>31</MaxHistory>
			<!-- 按时间回滚的同时，按文件大小来回滚 -->
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
		<layout class="ch.qos.logback.classic.PatternLayout">
			<Pattern>
				%d{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{50} - %msg%n
			</Pattern>
		</layout>
	</appender>
	
	<logger name="com.lechuu.swing" level="INFO" />
	<logger name="SMS_LOGGER" additivity="false">
		<level value="INFO" />
		<appender-ref ref="SMS_APPENDER" />
	</logger>
	<logger name="PUSH_LOGGER" additivity="false">
		<level value="INFO" />
		<appender-ref ref="PUSH_APPENDER" />
	</logger>
	
	<root>
		<level value="INFO" />
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>